.contacts {
  b {
    font-size: 18px;
    line-height: 30px;
    padding-left: 30px;
    margin-top: 45px;
  }

  &__table {
    padding-left: 30px;
    mrgin-bottom: 42px;
  }

  &__td {
    font-size: 15px;
    line-height: 30px;
  }

  a {
    text-decoration: none;
    color: #444444;
  }
}
