.modal {
  .title-h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  p {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
  }
  
  &__form {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  label {
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
  }
}