.reviews {
  .title-h2 {
    margin-top: 66px;
  }
  
  &__feedback {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  &__name {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  
  &__profile {
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }
  
  &__prev {
    margin-left: 30px;
  }
  
  .btn {
    margin-top: 38px;
    margin-bottom: 45px;
  }
}